.top {
  background-image: url(/images/bg-hero.jpeg);
  background-size: cover;
  position: relative;
  z-index: -1000;
  height: 100vh;
  width: 100%;
}
.top::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: rgba(255, 255, 255, 0.6);
}
.top .fukidashi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -90%);
}
.top__main-title, .top__sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
}
.top__main-title {
  font-size: 60px;
  transform: translate(-50%, -50%);
}
.top__sub-title {
  font-size: 20px;
  transform: translate(-50%, 255%);
}

.introduce {
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
}
.introduce p {
  line-height: 2;
}
.introduce__message {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
.introduce__message::before {
  content: "";
  width: 300px;
  height: 610px;
  background-image: url(/images/introduce-left-side_min.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -210px;
  top: -90px;
  z-index: -1;
}
.introduce__message::after {
  content: "";
  width: 300px;
  height: 610px;
  background-image: url(/images/introduce-right-side_min.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  top: -50px;
  z-index: -1;
}
.introduce__message-strong {
  font-size: 2rem;
  font-weight: 600;
}

.news__list-group {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 40px 20px;
}
.news__list__category {
  width: 90px;
  text-align: center;
  background-color: #503C33;
  color: white;
  border-radius: 5px;
}

.menu {
  background-image: url(/images/bg-wood_min.png);
}
.menu-item__title {
  display: flex;
  flex-direction: column-reverse;
}
.menu-item__title h4 {
  font-size: 2.2rem;
  margin-top: 0px;
  line-height: 2.5rem;
}
.menu-item__title h5 {
  margin: 0;
  font-size: 1.5rem;
}
.menu-item__contents-description {
  font-size: 1.5rem;
}
.menu-item {
  padding: 50px 40px 40px 50px;
  border-radius: 30px;
}
.menu-item.pink {
  background-color: rgba(248, 194, 194, 0.5);
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
}
.menu-item.green {
  background-color: rgba(199, 211, 195, 0.5);
  margin-left: 80px;
  margin-right: 80px;
}
.menu-item__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-item__contents-description {
  width: 50%;
}
.menu-item__contents-description p {
  margin-top: 0;
}
.menu-item__contents-image {
  width: 45%;
  align-items: center;
}
.menu-item__contents-image img {
  width: 100%;
  align-items: center;
}

.event__board {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 30px;
  text-align: center;
  background-image: url(/images/bg-events2_min.jpg);
  padding: 50px;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: white;
}
.event__board::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}
.event__board__head {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 100px;
}
.event__board__sub-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 100px;
}
.event__board__title-head {
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.event__board__title-main {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  position: relative;
  margin-bottom: 100px;
}
.event__board__title-main::before {
  content: "";
  height: 140px;
  border-left: solid 2px white;
  transform: rotate(-25deg);
  position: absolute;
  left: 120px;
  top: -70px;
}
.event__board__title-main::after {
  content: "";
  height: 140px;
  border-left: solid 2px white;
  transform: rotate(25deg);
  position: absolute;
  right: 120px;
  top: -70px;
}
.event__board__description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.event__board__description p {
  text-align: left;
  line-height: 1.5;
}
.event__board__table {
  border: solid 0.5px white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.event__board__table th {
  border: solid 0.5px white;
  padding: 30px;
  font-weight: 400;
  font-size: 1.2rem;
}
.event__board__table td {
  border: solid 0.5px white;
  padding: 30px;
  text-align: left;
  font-size: 1.2rem;
}
.event__board__table td .anotation {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

button {
  margin-top: 50px;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.3s;
}
button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.access .office {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.access .office-image {
  width: 60%;
  height: 400px;
  overflow: hidden;
}
.access .office-image img {
  width: 100%;
  object-fit: cover;
}
.access .office-info {
  padding: 30px;
  position: relative;
}
.access .office-info .name {
  margin-top: 0;
  font-size: 2rem;
}
.access .office-info button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 150px;
  height: 50px;
  border: solid #503C33 2px;
  background-color: #503C33;
  color: white;
}
.access .office-info button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #503C33;
}

* {
  outline: 2px solid blue;
  box-sizing: border-box;
  line-height: 1;
}

body {
  color: #503C33;
  font-family: iroha-23kaede-stdn, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
}

h1, h2 {
  font-family: ice-cream-slant, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  width: 100%;
  text-align: center;
  color: #503C33;
}
h1 span, h2 span {
  color: #C16C23;
}

.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}
section h2 {
  font-size: 3rem;
}
section h3 {
  font-size: 1rem;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}/*# sourceMappingURL=styles.css.map */