.footer {
    background-image: url(/images/bg-footer_min.jpeg);
    background-size: cover;
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(#000, 0.2);
    }
    &__contents {
        margin-left: 50%;
        padding: 30px;
        color: white;
        width: 50%;

        &__sub-title {
            margin-top: 50px;
            font-size: 1.5rem;
        }
        &__main-title {
            font-size: 2.5rem;
            color: white;
            text-align: left;
            margin-bottom: 15px;
        }
        &__ml {
            width: 100%;
            img {
                max-width: 300px;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .copylight {
        text-align: center;
        color: white;
        padding: 40px;
        margin-top: 30px;
        margin-bottom: 0;
    }
}