section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top {
    &__main-title {
        white-space: nowrap;
        font-size: 2.2rem;
    }
    &__sub-title {
        font-size: 0.8rem;
        margin-top: 0;
    }

    .fukidashi {
        transform: translate(-10%, -65%) scale(0.4);
    }
}

.introduce {
    padding-top: 100px;
    padding-bottom: 100px;
    p {
        line-height: 1.7;
    }
    p:first-child {
        line-height: 1.2;
    }
    &__message {
        width: 90%;
    }
    span {
        display: inline-block;
    }
}

.news {
    &__list {
        flex-direction: column;
        height: auto;

        &__date {
            margin-bottom: 5px;
        }
        &__description {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

.menu {
    &-item.pink, &-item.green {
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;
    }

    &-item__title {
        h4 {
            font-size:1.4rem;
            margin-bottom: 20px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }
    &-item__contents {
        flex-direction: column-reverse;
        &-description {
            width: 100%;
            p {
                line-height: 1.3rem;
            }
        }
        &-image {
            width: 100%;
            img {
                padding-left: 8%;
                margin-bottom: 20px;
            }
        }
    }
}

.event {
    &__board {
        margin: 0 5%;
        padding: 5%;

        &__head {
            margin-bottom: 40px;
            font-size: 1.5rem
        }

        &__sub-title {
            margin-bottom: 30px;
            font-size: 1.3rem;
            line-height: 1.3;
            span {
                display: inline-block;
            }
        }

        &__title {
            &-head {
                font-size: 1rem;
                margin-bottom: 5px;
            }
            &-main {
                font-size: 1.6rem;
                margin-bottom: 30px;

                &::before {
                    height: 60px;
                    left: 8px;
                    top: -27px;
                }

                &::after {
                    height: 60px;
                    right: 8px;
                    top: -27px;
                }
            }
        }
        
        &__table {
            th, td {
                font-size: 1rem;
                line-height: 1.2;
                .annotation {
                    font-size: 0.8rem;
                    line-height: 1.2;
                }
            }
        }
    }
    button {
        width: 200px;
        margin-bottom: 20px;
    }
}

.access {
    .office {
        margin: 0 5% 5%;

        &-image {
            height: 300px;

        }

        &-info {
            padding: 20px;
            .name {
                font-size: 1.5rem;
            }
            .station {
                margin-bottom: 40px;
            }
            button {
                width: 150px;
                position: initial;
                margin-top: 0;
            }
        }
    }
}

.footer {
    &__contents {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__sub-title, &__main-title {
            text-align: center;
        }

    }
    .copylight {
        font-size: 0.6rem;
    }
}